#filters {
  .filter-item {
    margin-bottom: 30px;
    &.collapsed {
      .head {
        > span {
          > .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
    &.closed {
      ul {
        display: none;
      }
    }
    .head {
      margin-bottom: 15px;
      position: relative;
      padding-right: 100px;

      > span {
        cursor: pointer;
        color: $text-color;
        font: bold 27px/1 $font-bold;
        text-transform: uppercase;
        &:hover {
          color: $primary-color;
        }
        > .icon {
          margin-left: 15px;
          position: relative;
          top: -4px;
          transform: rotate(0deg);
        }
      }
      > a {
        position: absolute;
        right: 0;
        top: 3px;
        color: #757579;
        font-size: 13px;
        line-height: 1.1;
        border-bottom: 2px dotted #757579;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          border-color: transparent;
        }
      }
    }
    .options-list {
      .checkbox {
        margin: 0 0 5px 0;
        label {
          padding-left: 25px;
          min-height: 19px;
          font: bold 20px/1 $font-bold;
          white-space: normal;
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
        }
        .txt {
          position: relative;
          &:before {
            content: "";
            background: url(../images/sprite.png) no-repeat -122px -3px;
            width: 19px;
            height: 19px;
            position: absolute;
            left: -25px;
            top: 3px;
          }
        }
        input[type=checkbox] {
          display: none;
          &:checked + .txt {
            &:before {
              background-position: -122px -22px;
            }
          }
          &:disabled + .txt {

          }
        }
      }
      &.options-inline {
        .checkbox {
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
  }
  .filter-buttons {
    margin-bottom: 30px;
    .btn {
      font: bold 22px/1 $font-bold;
      text-transform: uppercase;
      padding: 3px 10px;
      width: 100px;
      height: 30px;
      border: 2px solid transparent;
      border-radius: 4px;
      &-filter-show {
        color: #757579;
        background: #f2f2f4;
        border-color: #757579;
        &:hover {
          background: darken(#f2f2f4, 5%);
        }
      }
      &-filter-cancel {
        float: right;
        color: #f2f2f4;
        background: $primary-color;
        border-color: $primary-color;
        &:hover {
          background: darken($primary-color, 5%);
          border-color: darken($primary-color, 5%);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #filters {
    .filter-item {
      .head {
        > span {
          font-size: 22px;
          > .icon {
            display: none;
          }
        }
      }
    }
    .filter-buttons {
      margin-bottom: 30px;
      text-align: center;
      .btn {
        margin: 0 auto 10px auto;
        float: none;
        display: block;
      }
    }
  }
}