#sidebar {
  aside {
    padding: 20px 30px 20px 0;
    .title {
      font: bold 30px/1 $font-bold;
      text-transform: uppercase;
      color: #010101;
      margin: 0 0 15px 0;
      text-align: center;
    }
    .ya-reviews {
      margin-bottom: 30px;
      .head {
        color: $primary-color;
        text-align: center;
        font: bold 24px/1 $font-bold;
        margin-bottom: 10px;
      }
      a {
        display: block;
        img {
          border: 1px solid #676667;
        }
      }
    }
    .post-list {
      margin-bottom: 20px;
      .item {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px dashed #868689;
        &:last-of-type {
          border-bottom: none;
        }
        .top {
          margin-bottom: 10px;
          > span {
            font-size: 19px;
            line-height: 1;
            color: #757579;
            margin-right: 10px;
          }
          a {
            display: inline-block;
            color: $primary-color;
            font: bold 25px/1 $font-bold;
          }
        }
        .img {
          margin-bottom: 10px;
          img {
            width: 100%;
            height: auto;
            border: 1px solid #676667;
          }
        }
        .short {
          color: $text-color;
          font-size: 20px;
          line-height: 1.2;
          a {
            color: $primary-color;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .bot {
        padding: 0 0 20px 0;
        .btn {
          background: #757579;
          color: #fff;
          font: bold 20px/1 $font-bold;
          text-transform: uppercase;
          padding: 5px 10px;
          width: 170px;
          margin: 0 auto;
          display: block;
          &:hover {
            background: lighten(#757579, 5%);
          }
        }
      }
    }
    .catalog-list {
      margin-bottom: 30px;
      &.collapsed {
        .head {
          > span {
            display: inline-block;
            > .icon {
              transform: rotate(180deg);
            }
          }
        }
      }
      &.closed {
        ul {
          display: none;
        }
      }
      .head {
        margin-bottom: 5px;
        > span {
          cursor: pointer;
          color: $text-color;
          font: bold 27px/1 $font-bold;
          text-transform: uppercase;
          > .icon {
            margin-left: 15px;
            position: relative;
            top: -4px;
            transform: rotate(0deg);
          }
          &:hover {
            color: $primary-color;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
          margin-bottom: 5px;
          > a {
            display: block;
            color: #757579;
            text-decoration: none;
            font: bold 20px/1 $font-bold;
            text-transform: uppercase;
            position: relative;
            padding-left: 30px;

            &:before {
              content: '\2022';
              display: inline-block;
              position: absolute;
              left: 10px;
              top: -3px;
            }
            &:hover {
              color: $primary-color;
            }
          }
          &.current {
            > a {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  #sidebar {
    aside {
      padding: 20px 15px;
      .title {
        font-size: 24px;
      }
      .ya-reviews {
        .head {
          font-size: 18px;
        }
      }
      .catalog-list {
        .head {
          > span {
            font-size: 22px;
            > .icon {
              display: none;
            }
          }
        }
      }
    }
  }
}