.akcia {
  background: #f2f2f4;
  padding: 8px 8px 8px 8px;
  > span {
    font: bold 13px/12px $font-bold;
    color: #757579;
    text-transform: uppercase;
    display: inline-block;
    width: 74px;

    > i {
      float: left;
      margin: 0px 5px 0 0;
      font-size: 19px;
    }
  }
  .timer {
    float: right;
    width: 115px;
    padding: 10px 0 0 0;
    > .soon {
      padding: 0;
      font: bold 13px/1 $font-bold;
      color: $text-color;
      margin: -6px 0 0 0px;
      text-align: right;
      .soon-group-inner {
        margin: 0px;
        .soon-group {
          &:first-of-type {
            margin-right: 5px;
          }
          &:first-of-type[data-value="0"] {
            display: none;
            ~ .soon-group {
              color: #b0140c;
            }
          }
          .soon-value {
            font-size: 16px;
            margin: 0;
            .soon-text {
              margin-top: -9px;
              width: 0.5em;
              min-width: 0.4em;
            }
          }
          .soon-label {
            margin: -9px 1px 0 1px;
            min-width: 2px;
            text-align: center;
          }
          .soon-separator {
            margin: 5px 0 0 0px;
            min-width: 0.2em;
            font-weight: bold;
          }
        }
      }
    }
  }
}