.icon {
  display: inline-block;
  text-indent: -9999em;
  background: url(../images/sprite.png) no-repeat;

  &-arrow-bottom-orange {
    background-position: -92px -5px;
    width: 15px;
    height: 6px;
  }
  &-user {
    background-position: 0 0;
    width: 21px;
    height: 22px;
  }
  &-cart {
    background-position: -24px 0;
    width: 19px;
    height: 22px;
  }
  &-cart-light {
    background-position: -92px -16px;
    width: 19px;
    height: 22px;
  }
  &-catalog {
    background-position: -25px -26px;
    width: 20px;
    height: 17px;
  }
  &-eyes {
    background-position: 0 -61px;
    width: 26px;
    height: 14px;
  }
  &-search {
    background-position: -34px -47px;
    width: 18px;
    height: 19px;
  }
  &-prev {
    background-position: -2px -79px;
    width: 20px;
    height: 32px;
  }
  &-next {
    background-position: -25px -79px;
    width: 20px;
    height: 32px;
  }
  &-payment-nal {
    background-position: -2px -118px;
    width: 26px;
    height: 19px;
  }
  &-payment-kiwi {
    background-position: -6px -150px;
    width: 17px;
    height: 19px;
  }
  &-payment-sb {
    background-position: -6px -181px;
    width: 18px;
    height: 19px;
  }
  &-payment-wm {
    background-position: -6px -212px;
    width: 18px;
    height: 19px;
  }
  &-payment-card {
    background-position: -5px -242px;
    width: 19px;
    height: 19px;
  }
  &-delivary-post {
    background-position: -38px -118px;
    width: 79px;
    height: 38px;
  }
  &-delivary-logistic {
    background-position: -38px -160px;
    width: 78px;
    height: 52px;
  }
  &-preview-prev {
    background-position: -55px -87px;
    width: 14px;
    height: 22px;
  }
  &-preview-next {
    background-position: -100px -87px;
    width: 14px;
    height: 22px;
  }
  &-timer {
    background-position: -58px -45px;
    width: 18px;
    height: 20px;
  }
  &-remove {
    background-position: -57px -73px;
    width: 8px;
    height: 8px;
  }
  &-gotop {
    background-position: -86px -71px;
    width: 22px;
    height: 14px;
  }
  &-heart {
    background-position: -88px -44px;
    width: 26px;
    height: 23px;
  }
  &-arrow-down-min {
    background-position: -30px -70px;
    width: 14px;
    height: 6px;
  }
  &-arrow-down-aside {
    background-position: -2px -49px;
    width: 18px;
    height: 8px;
  }
  &-video {
    background-position: -148px -142px;
    width: 41px;
    height: 33px;
  }
  &-close {
    background-position: -122px -47px;
    width: 22px;
    height: 21px;
  }
  &-arrow-order {
    background-position: -195px -80px;
    width: 18px;
    height: 8px;
  }
  &-arrow-right {
    background-position: -14px -25px;
    width: 8px;
    height: 18px;
  }
}