#breadcumbs {
  font-size: 20px;
  color: #757579;
  margin: 0px 0 10px 0;
  a {
    font-size: 20px;
    color: #757579;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    i {
      margin-right: 5px;
    }
    &.current {
      text-decoration: underline;
    }
  }
  .sep {
    position:relative;
    margin: 0 5px;
  }
}

#content {
  #breadcumbs {
    margin: -15px 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  #breadcumbs {
    display: none;
  }
}