#cart {
  .nav-tabs {
    list-style: none;
    margin: 0 0 15px 0;
    border: none;
    li {
      display: inline-block;
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
      > a {
        padding: 15px;
        background: transparent;
        border: none;
        border-radius: 3px;
        color: #313131;
        font: bold 30px/1.3 $font-bold;
        display: block;
        text-decoration: none;
        > span {
          border-bottom: 2px dotted #313131;
        }
        &:hover {
          > span {
            border-bottom-color: transparent;;
          }
        }
      }
      &.active {
        > a {
          background: #e9e9eb;
          > span {
            border-color: transparent;
          }
        }
      }
    }
  }

  .form-checkout {
    padding-right: 200px;
    padding-top: 50px;
    .form-horisontal {
      margin-bottom: 50px;
    }
  }
  .button {
    margin-bottom: 50px;
    .btn-next {
      font: bold 30px/1 $font-bold;
      color: #313131;
      padding: 5px 10px;
      background: #e9e9eb;
      float: right;
      &:hover {
        background: darken(#e9e9eb, 5%);
      }
    }
  }
  .tab-last {
    padding-right: 80px;
    .list-tab {
      padding-top: 50px;
      margin-bottom: 50px;
      .label {
        color: #313131;
        font: bold 26px/1.2 $font-bold;
        padding-top: 10px;
        p {
          font-weight: normal;
          font-size: 17px;
          color: #7a7a7a;
        }
      }
      &.cart-delivary {
        .list {
          .item {
            width: 50%;
            float: left;
            padding-right: 25px;
            .name {
              color: $text-color;
              font: bold 20px/1.2 $font-bold;
              margin: 0 0 15px 0;
              > span {
                float: left;
                width: 96px;
                height: 60px;
                background: #f2f2f4;
                border-radius: 4px;
                text-align: center;
                padding-top: 3px;
                margin-right: 10px;
                &.delivary-post {
                  padding-top: 11px;
                }
              }
            }
            label {
              position: relative;
              padding: 5px 5px 5px 25px;
              margin: 0 0 5px 0;
              min-width: 200px;
              border-radius: 6px;
              display: inline-block;
              cursor: pointer;
              &.selected {
                background: #f0f0f1;
              }
              &:hover {
                background: #f0f0f1;
              }
              > input {
                position: absolute;
                left: 5px;
                top: 9px;
              }
              p {
                margin: 0;
                line-height: 1.2;
                &.t1 {
                  font-size: 18px;
                  color: #313131;
                }
                &.t2 {
                  font-size: 16px;
                  color: #757579;
                }
                &.t3 {
                  font-size: 18px;
                  color: $primary-color;
                }
              }
            }
          }
        }
      }
      &.cart-payment {
        .list-payments {
          padding: 10px 0 0 0;
          list-style: none;
          margin: 0;
          li {
            margin: 0 0 5px 0;
            a {
              display: inline-block;
              padding: 5px;
              min-width: 200px;
              color: #313131;
              font-size: 18px;
              border-radius: 4px;
              > span {
                float: left;
                width: 30px;
                height: 24px;
                background: #f2f2f4;
                border-radius: 4px;
                text-align: center;
                padding-top: 3px;
                margin-right: 10px;
              }
              b {
                color: #757579;
                font-weight: normal;
                font-size: 16px;
              }
              &:hover {
                text-decoration: none;
                background: #f0f0f1;
              }
            }
            &.selected {
              a {
                background: #f0f0f1;
              }
            }
          }
        }
      }
    }
    .button {
      padding-right: 30px;
      .btn-order {
        font: bold 30px/1 $font-bold;
        color: #313131;
        background: #e9e9eb;
        padding: 8px 20px;
        float: right;
        &:hover {
          background: darken(#e9e9eb, 5%);
        }
      }
    }
  }
  .cart-table {
    position: relative;
    margin: 0 200px 50px 0;
  }

  .bot {
    margin: 0 0 50px 0;
    .cupon {
      margin: 0 0 20px 0;
      span {
        font: bold 18px/1 $font-bold;
        color: $text-color;
        padding-top: 6px;
        display: inline-block;
      }
      .input-icon {
        position: relative;
        .form-control {
          display: inline-block;
          border: 1px solid #e9e9eb;
          background: #fff;
          padding: 5px 40px 5px 10px;
          &:focus {
            border-color: $primary-color;
          }
        }
        > i {
          position: absolute;
          right: 7px;
          top: 7px;
          font-size: 18px;
          display: none;
        }
      }

      &.loading {
        .input-icon {
          > i {
            display: block;
            animation: rotating 2s linear infinite;
          }
        }
      }
    }
    .suma {
      text-align: right;
      color: #b0140c;
      font: bold 35px/1 $font-bold;
    }
  }
  .alert-cart {
    width: 170px;
    background: #e9e9eb;
    text-align: center;
    float: right;
    .inner {
      position: relative;
      padding: 10px 5px;
      &:before {
        content: '';
        border-style: solid;
        display: block;
        height: 0;
        position: absolute;
        width: 0;
        border-width: 0 0 14px 25px;
        border-color: transparent transparent #e9e9eb;
        bottom: 0px;
        left: -25px;
      }
      .btn-remove {
        position: absolute;
        top: 2px;
        right: 2px;
      }
      p {
        font-size: 16px;
        margin: 0;
      }
      span {
        font: bold 25px/1.5 $font-bold;
        color: #b0140c;
      }
      a {
        background: #e9e9eb;
        color: #313131;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 1.2;
        padding: 2px 5px;
        border: 1px solid #313131;
        &:hover {
          background: darken(#e9e9eb, 5%);
        }
      }
    }
    .btn-remove {
      background: none;
      border: none;
      font-size: 16px;
      line-height: 1;
      font-weight: bold;
      transition: all .2s linear;
      width: 20px;
      height: 20px;
      padding: 0 0 3px 0px;
      display: block;
      border-radius: 50%;
      text-align: center;
      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}
.cart-table {
  .table-responsive {
    border: none;
  }
  table {
    width: 100%;
    margin: 0 0 20px 0;
    tr {
      th {
        background: #f2f2f4;
        border: 1px solid #e9e9eb;
        padding: 7px 20px;
        font: bold 20px/1 $font-bold;
        color: #757579;
        text-align: center;
        &.th-product {
          text-align: left;
        }
      }
    }
    tr {
      td {
        border: 1px solid #e9e9eb;
        padding: 20px 10px;
        .product-info {
          a {
            text-decoration: none;
          }
          img {
            display: inline-block;
            width: 110px;
            height: auto;
            margin: 0 40px 0 0;
            vertical-align: middle;
          }
          .name {
            margin: 0 0 5px 0;
            display: inline-block;
            vertical-align: middle;
            a {
              text-decoration: none;
              font: bold 20px/1 $font-bold;
              color: $text-color;
              &:hover {
                color: $primary-color;
              }
            }
          }
          .prop {
            p {
              color: #757579;
              font-size: 18px;
              line-height: 1;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .price {
    padding-left: 0;
    vertical-align: middle;
    text-align: center;
    > span {
      font: bold 24px/16px $font-bold;
      color: #313131;
      display: block;
      margin: 0 0 5px 0;
      &.new {
        color: #b0140c;
      }
      &.old {
        text-decoration: line-through;
        color: #757579;
        font-size: 18px;
      }
    }
  }
  .input-counter {
    color: #010101;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
    .btn {
      padding: 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 12px;
      border-radius: 0;
      width: 12px;
      height: 12px;
      text-align: center;
      border: none;
      background: #e9e9eb;
      &:hover {
        background: darken(#e9e9eb, 5%);
      }
    }
    .input-group-text {
      display: inline-block;
      .form-control {
        background: none;
        font-size: 16px;
        font-weight: bold;
        border: none;
        padding: 0;
        display: inline-block;
        width: 35px;
        margin: 0 3px;
        text-align: center;
        border: 1px solid #f2f2f2;
        &:disabled {
          cursor: default;
        }
      }
    }
  }
  .btn-remove {
    background: none;
    border: none;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    transition: all .2s linear;
    width: 20px;
    height: 20px;
    padding: 0 0 3px 0px;
    display: block;
    border-radius: 50%;
    text-align: center;
    &:hover {
      transform: rotate(180deg);
    }
  }
}

@media screen and (max-width: 992px) {
  #cart {
    .nav-tabs {
      li {
        > a {
          padding: 6px 5px;
          font-size: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #cart {
    .nav-tabs {
      text-align: center;
      li {
        margin: 0 5px 10px 5px;
        float: none;
        display: inline-block;
        > a {
          font-size: 18px;
        }
      }
    }
    .alert-cart {
      display: none;
    }
    .form-checkout {
      padding-right: 0px;
    }
    .cart-table {
      margin: 0 0px 50px 0;
    }
    .button {
      .btn-next {
        font-size: 22px;
      }
    }
    .tab-last {
      padding: 0;
      .list-tab {
        padding: 20px 0 0 0;
        .label {
          font-size: 22px;
          text-align: left;
          padding: 0 0 10px 0;
        }
        &.cart-delivary {
          margin-bottom: 0;
          .list {
            .item {
              width: 100%;
              float: none;
              padding: 0 0 50px 0;
            }
          }
        }
      }
    }
  }
}
