.panel-pager {
  margin: 0;
  background: #f2f2f4;
  padding: 3px;
  .col-pagination {
    padding-left: 0;

    .pagination {
      margin: 0;
      padding: 0;
      > a {
        vertical-align: top;
        color: #757579;
        display: inline-block;
        width: 40px;
        height: 30px;
        border: 2px solid #757579;
        border-radius: 3px;
        text-align: center;
        padding-top: 0px;
        font: bold 24px/1 $font-bold;
        position: relative;
        margin: 0 7px 0 0;
        &:hover {
          color: #000;
          border-color: #000;
          text-decoration: none;
        }
        &.active {
          color: #000;
          border-color: #000;
          text-decoration: none;
          cursor: default;
        }
        &.page-next {
          width: auto;
          border-color: $primary-color;
          color: $primary-color;
          padding: 0px 5px;
          &:hover {
            color: darken($primary-color, 5%);
          }
        }
      }
    }
    .page-next {
      color: #010101;
      margin-left: 15px;
      &:hover {
        color: #1779e2;
        text-decoration: none;
      }
    }
    .inf {
      margin-right: 15px;
    }
  }
  .btn-show-load {
    display: block;
    width: 100%;
    border: 2px solid $primary-color;
    color: $primary-color;
    text-transform: uppercase;
    font: bold 24px/1 $font-bold;
    padding: 1px 10px;
    height: 30px;
    background: #fff;
    &:hover {
      background: darken(#fff, 3%);
    }
  }
  .show-count, .sorting {
    color: #757579;
    font-size: 18px;
    text-align: right;
    a {
      color: $text-color;
      border-bottom: 1px dotted $text-color;
      text-decoration: none;

      &:hover {
        color: $primary-color;
        border-color: $primary-color;
      }
      &.active {
        color: $primary-color;
        border-color: $primary-color;
      }
    }
    span {
      color: $text-color;
      margin: 0 5px;
      &:first-of-type {
        color: #757579;
        margin-right: 10px;
      }
    }
  }
  .col-show-count {
    padding-right: 0;
  }
  .col-sorting {
    padding-left: 0;
    padding-right: 0;
    .sorting {
      text-align: left;
      span {
        margin: 0 3px;
      }
    }
  }
}

.products {
  .panel-pager {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .panel-pager {
    padding: 5px 0;
    .show-count, .sorting {
      text-align: left;
      margin: 0 0 10px 0;
    }
    .col-show-count {
      padding-left: 0;
    }
    .col-pagination {
      text-align: center;

      .pagination {
        padding: 0;
        margin: 0 0 10px 0;
      }
    }
    .btn-show-load {
      margin: 0 auto 10px auto;
      max-width: 220px;
      font-size: 18px;
    }
  }
}